.side-nav
	.nav-list
		.navList-item 用户管理
		.select-w
		.navList-item 小说管理
		.select-w
			div(class='shanchu select-item') 小说删除
			div(class='luru select-item') 小说录入

.top-side
	p.t 阅文网后台管理系统
	.admin
		p 欢迎，admin
