script(src="/js/jquery-3.2.1.min.js")
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/global.css", rel="stylesheet")
script(src="/js/bootstrap.min.js")
script(src="/js/common.js")