extend ../layout

block head
	link(rel="stylesheet" href="/css/chapter.css")

block content
	<div class="container">
		<div class="wrap">
			<h2 class="chapter_title">第#{index}章</h2>
			#{data}
		</div>
				
	</div>
	
		
	
